body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #333
}

audio, video {
    margin: 20px 0;
    border: 2px solid #333;
    border-radius: 10px;
}

video {
    max-width: 100%;
}